#myh2{
    color:red;
    text-align: center;
}

#mytable{
    border-collapse: collapse;
    width: 100%;
}
tr>td{
    border: 4px solid rgb(124, 209, 6);
    text-align: center;
    background-color: #30c0c0;
    padding: 10px;
    
    
}/*伪类*/
tr:nth-child(even)>td{
    background-color: #89c620;
}